<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anixuil.manager_system.mapper.DictFieldTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anixuil.manager_system.entity.DictFieldTable">
        <id column="dict_field_uuid" property="dictFieldUuid" />
        <result column="dict_name" property="dictName" />
        <result column="dict_field_label" property="dictFieldLabel" />
        <result column="dict_field_value" property="dictFieldValue" />
    </resultMap>

</mapper>
