<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anixuil.manager_system.mapper.EnroPlanTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anixuil.manager_system.entity.EnroPlanTable">
        <id column="enro_plan_uuid" property="enroPlanUuid" />
        <result column="major_uuid" property="majorUuid" />
        <result column="enro_plan_number" property="enroPlanNumber" />
        <result column="enro_real_number" property="enroRealNumber" />
        <result column="create_date" property="createDate" />
    </resultMap>

</mapper>
