<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anixuil.manager_system.mapper.NoticeInfoTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anixuil.manager_system.entity.NoticeInfoTable">
        <id column="notice_info_uuid" property="noticeInfoUuid" />
        <result column="notice_info_title" property="noticeInfoTitle" />
        <result column="notice_info_intro" property="noticeInfoIntro" />
        <result column="notice_info_content" property="noticeInfoContent" />
        <result column="notice_info_attachment" property="noticeInfoAttachment" />
        <result column="create_date" property="createDate" />
    </resultMap>

</mapper>
