<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anixuil.manager_system.mapper.TeacherTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anixuil.manager_system.entity.TeacherTable">
        <id column="teacher_uuid" property="teacherUuid" />
        <result column="user_uuid" property="userUuid" />
        <result column="depart_uuid" property="departUuid" />
        <result column="teacher_id" property="teacherId" />
        <result column="teacher_intro" property="teacherIntro" />
        <result column="class_uuid" property="classUuid" />
        <result column="create_date" property="createDate" />
    </resultMap>

</mapper>
